@model IEnumerable<Library_System.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h2>All Books</h2>

<p>
    <a class="btn btn-dark" asp-action="Create">Add New Book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <a class="btn btn-dark"  asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-dark"  asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-dark"  asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
